<footer class="footer pad-viewport">
  <div class="wrapper wrapper--xl">
    {{ footer_notes }}
    <div class="footer__content">
      <div class="footer__content__column">
        <p class="footer__content__header">Location</p>
        <ul>
          <li>In the clouds</li>
        </ul>
      </div>
      <div class="footer__content__column">
        <p class="footer__content__header">Contact Us</p>
        <ul>
          <li><a href="mailto:info@yobi.ventures">info@yobi.ventures</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__notice">&copy; 2020 Yobi Ventures</p>
      <img class="footer__logo" src="/images/yobi_logo_light.svg" alt="Yobi logo" />
    </div>
  </div>
</footer>
