@use 'media';

:root {
  --gray-1: #1e252c;
  --gray-2: #29323d;
  --gray-3: #333e48;
  --gray-4: #7d858c;
  --gray-5: #aeb3b7;
  --gray-6: #bec2c6;
  --gray-7: #d4d7da;
  --gray-8: #ededed;
  --gray-9: #f4f4f4;
  --gray-10: #fbfbfc;

  --hair: 1px;
  --margin: 16px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    --hair: 0.5px;
  }

  @include media.sm {
    --margin: 24px;
  }

  @include media.md {
    --margin: 32px;
  }

  @include media.lg {
    --margin: 48px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  image-rendering: optimizeQuality;
  min-width: 320px;
}

body {
  color: var(--gray-1);
  font-size: 1.0625rem;
}

button {
  cursor: pointer;
}
