@use 'media';

.header {
  background-color: var(--gray-2);

  &__logo {
    height: 24px;
    margin-top: 16px;
    margin-bottom: 10px;

    @include media.sm {
      height: 28px;
    }

    @include media.md {
      height: 32px;
    }
  }
}

.playing-field {
  background-color: var(--gray-1);
  color: white;

  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__heading {
    flex-basis: 50%;
    padding-top: 144px;
    padding-bottom: 272px;
  }

  &__img {
    flex-basis: 50%;
  }
}

.unified-consumer {
  padding-top: 80px;
  padding-bottom: 96px;

  &__heading {
    text-align: center;
  }

  &__graphic {
    padding-top: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__curly-brace {
    display: none;

    @include media.md {
      display: initial;
    }

    &--flipped {
      transform: scaleX(-1);
    }
  }

  &__label {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media.sm {
      margin-bottom: 64px;
    }

    &--identity {
      transform: translateY(-7%);
      margin-left: 20px;
      margin-right: 20px;

      img {
        width: 80%;

        @include media.sm {
          width: initial;
        }
      }
    }

    &__glyph {
      width: 72px;
      height: 72px;
      background-color: var(--gray-8);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media.sm {
        width: 80px;
        height: 80px;
      }
    }

    figcaption {
      margin-top: 12px;
      font-size: 0.9375rem;
      text-align: center;

      @include media.sm {
        margin-top: 16px;
        font-size: initial;
      }
    }
  }
}

.privacy-redefined {
  padding-top: 80px;
  padding-bottom: 96px;
  border-top: 1px solid var(--gray-7);

  &__container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    @include media.lg {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 40px;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include media.lg {
      margin-bottom: 0;
      justify-content: center;
    }
  }

  &__heading {
    flex-basis: 50%;
  }
}

.our-founders {
  background-color: var(--gray-9);
  padding-top: 64px;
  padding-bottom: 80px;

  h3 {
    text-align: center;
  }

  &__profiles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 48px;

    @include media.md {
      flex-direction: row;
    }
  }

  &__profiles-pair {
    flex-basis: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 32px;

    @include media.md {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__profile {
    width: 112px;

    @include media.sm {
      width: 144px;
    }

    @include media.lg {
      width: 176px;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }

    figcaption {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.our-commitment {
  padding-top: 80px;
  padding-bottom: 96px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.footer {
  background-color: var(--gray-1);
  padding-top: 32px;

  &__notes {
    color: var(--gray-4);
    font-size: 0.75rem;
    margin-bottom: 28px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    border-top: 1px solid var(--gray-2);
    padding-top: 24px;
    padding-bottom: 48px;
    display: flex;
    flex-wrap: nowrap;

    &__header {
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      text-transform: lowercase;
      font-variant: small-caps;
      margin-bottom: 12px;
      line-height: initial;
    }

    &__column {
      margin-right: 48px;

      @include media.sm {
        margin-right: 64px;
      }

      @include media.md {
        margin-right: 96px;
      }

      &:last-child {
        margin-right: 0;
      }

      ul {
        list-style: none;
      }

      li {
        font-size: 1rem;
        font-weight: 400;
        color: var(--gray-4);
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__notice {
    color: var(--gray-3);
    font-size: 0.875rem;
  }

  &__logo {
    height: 28px;
    transform: translateY(6px);
  }
}
