@use 'media';

.header {
  background-color: var(--gray-2);

  &__logo {
    height: 24px;
    margin-top: 16px;
    margin-bottom: 10px;

    @include media.sm {
      height: 28px;
    }

    @include media.md {
      height: 32px;
    }
  }
}

.playing-field {
  background-color: var(--gray-1);
  color: white;

  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__heading {
    flex-basis: 50%;
    padding-top: 144px;
    padding-bottom: 272px;

    h1 {
      margin-bottom: 32px;
    }
  }

  &__img {
    flex-basis: 50%;
  }
}

.our-founders {
  background-color: var(--gray-9);
  padding-top: 64px;
  padding-bottom: 80px;

  h3 {
    text-align: center;
  }

  &__profiles-container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }

  &__profile {
    img {
      $width: 176px;
      width: $width;
      border-radius: $width/2;
    }

    figcaption {
      margin-top: 20px;
      text-align: center;
    }
  }
}
.stay-informed {
  background-color: var(--gray-1);
  color: white;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 92px;

  h2 {
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 20px;
  }

  form {
    $border-radius: 4px;

    input {
      border: none;
      background-color: var(--gray-2);
      color: white;
      font-size: inherit;
      font-weight: 400;
      padding: 0.875rem 1rem;
      border-radius: $border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::placeholder {
        color: white;
      }
    }

    button {
      background-color: var(--red);
      color: white;
      font-size: inherit;
      font-weight: 500;
      border: none;
      padding: 0.875rem 1rem;
      border-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.footer {
  padding-top: 64px;

  &__notes {
    color: var(--gray-3);
    font-size: 0.75rem;
    margin-bottom: 28px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    border-top: 1px solid var(--gray-7);
    padding-top: 24px;
    padding-bottom: 64px;
    display: flex;
    flex-wrap: nowrap;

    &__column {
      margin-right: 48px;

      @include media.sm {
        margin-right: 64px;
      }

      @include media.md {
        margin-right: 96px;
      }

      &:last-child {
        margin-right: 0;
      }

      h4 {
        font-size: 1rem;
        font-weight: 600;
        text-transform: lowercase;
        font-variant: small-caps;
        margin-bottom: 12px;
      }

      ul {
        list-style: none;
      }

      li {
        font-size: 1rem;
        font-weight: 400;
        color: var(--gray-3);
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__notice {
    color: var(--gray-4);
    font-size: 0.875rem;
  }

  &__logo {
    height: 32px;
    transform: translateY(8px);
  }
}
